%title= title
= csrf_meta_tag

%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
= favicon_link_tag 'favicon.ico'

/ For third-generation iPad with high-resolution Retina display:
%link{:href => "/assets/apple-touch-icon-144x144.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
/ For iPhone with high-resolution Retina display:
%link{:href => "/assets/apple-touch-icon-114x114.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
/ For first- and second-generation iPad:
%link{:href => "/assets/apple-touch-icon-72x72.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
/ For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
%link{:href => "/assets/apple-touch-icon-57x57.png", :rel => "apple-touch-icon-precomposed"}/

:javascript
  (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();

/ ERB block to avoid mangling the conditional comments
:erb
  <!--[if gt IE 8]><!-->
    <%= stylesheet_link_tag 'gov-static/gov-goodbrowsers' %>
  <!--<![endif]-->
  <!--[if IE 6]>
    <%= stylesheet_link_tag 'gov-static/gov-ie6' %>
  <![endif]-->
  <!--[if IE 7]>
    <%= stylesheet_link_tag 'gov-static/gov-ie7' %>
  <![endif]-->
  <!--[if IE 8]>
    <%= stylesheet_link_tag 'gov-static/gov-ie8' %>
  <![endif]-->

  <!--[if lt IE 9]>
    <%= javascript_include_tag 'gov-static/gov-ie.js' %>
  <![endif]-->

- if Rails.configuration.govbranding
  :erb
    <!--[if IE 8]>
      <script type="text/javascript">
        (function(){if(window.opera){return;}
        setTimeout(function(){var a=document,g,b={families:(g=
        ["nta"]),urls:["https://assets.digital.cabinet-office.gov.uk/static/fonts-ie8-beb10cbc00c9b7dcdbdee824962bc5f6.css"]},
        c="https://assets.digital.cabinet-office.gov.uk/static/libs/goog/webfont-debug-96870cf9f159ed811fd43c39bdf4656b.js",d="script",
        e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
        ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
        .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
        })()
      </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <%= stylesheet_link_tag 'gov-static/gov-fonts' %>
    <!--<![endif]-->

= stylesheet_link_tag "gov-static/gov-print", media: "print"
= stylesheet_link_tag "application", media: "all"
